@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script&display=swap');
*{
    padding: 0;
    margin: 0;

}

html, body{
    background: url(../img/kitty.png);
    transition: all .4s ease-in-out;
    font-family: 'Caveat', cursive;
    font-family: 'Dancing Script', cursive;
}

.main{
    display: grid;
    place-items: center;
    height: 100vh;
    .content{
        background: rgb(2,201,137);
        background: linear-gradient(315deg, rgba(2,201,137,0.4976190305223652) 0%, rgba(23,69,70,0.5032212714187237) 35%);
        min-width: calc(80%);
        text-align: center;
        border-radius: 25px;
        
        .quote{
            font-size: 40px;
            margin-top: 30px;
            margin-left: calc(20%);
            margin-right:calc(20%);

            .qouteBy{
                margin-top: 20px;
            }
        }

        button{
            width: calc(50%);
            padding: 10px;
            margin-top: 30px;
            margin-bottom: 10px;
            font-size: 30px;
            font-weight: 700;
            border: none;
            border-radius: 25px;
            // transition: all .4s ease-in-out;
            font-family: 'Caveat', cursive;
            font-family: 'Dancing Script', cursive;
        }
    }

}