@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script&display=swap');
*{
    padding: 0;
    margin: 0;

}

html, body{
    background: url(../img/kitty.png);
    transition: all .4s ease-in-out;
    font-family: 'Caveat', cursive;
    font-family: 'Dancing Script', cursive;
}

.main{
    display: grid;
    place-items: center;
    height: 100vh;
    .content{
        visibility: hidden;
        background: rgb(2,201,137);
        background: linear-gradient(315deg, rgb(238, 156, 167) 0%, rgba(255, 221, 225, 0.8) 35%);
        min-width: calc(80%);
        text-align: center;
        border-radius: 25px;
        
        .quote{
            font-size: 2rem;
            margin-top: 30px;
            margin-left: calc(10%);
            margin-right:calc(10%);

            
        }

        .qouteBy{
            font-size: 2rem;
            margin-left: calc(10%);
            margin-right:calc(10%);
            margin-top: 20px;
            text-align: end;
        }

        button{
            width: calc(50%);
            padding: 10px;
            margin-top: 30px;
            margin-bottom: 10px;
            font-size: 30px;
            font-weight: 700;
            border: none;
            border-radius: 25px;
            // transition: all .4s ease-in-out;
            font-family: 'Caveat', cursive;
            font-family: 'Dancing Script', cursive;
        }
    }

}


.loader {
    background: url(../img/beautiful-love.gif);
    position: absolute;
    top: 46%;
    left: 46%;
    height: 120px;
    width: 120px;
    background-size: contain;
    background-repeat: no-repeat;

    
 }
 .hide-loader{
    display:none;
}