@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script&display=swap');

*{
    margin: 0;
    padding: 0;
}
:root{
    --color-1: #86f4b4;
}


body{

    background-color: var(--color-1);
    height: 100vh;
    transition: all .4s ease-in-out;
    font-family: 'Caveat', cursive;
    font-family: 'Dancing Script', cursive;
    display: grid;
    place-items: center;
}

main{
    width: calc(50%);
    // height: 100px;
    background: linear-gradient(135deg, #f4e78580 0%, #f2458a80 50%, #a579f180 100%);

    border-radius: 25px;
    display: inherit;
    place-items: center;
    padding: 1rem;
    span{
        font-size: 40px;
        padding-bottom: 1rem;
        text-align: center;
    }
    input{
        font-family: inherit;
        height: 2rem;
        width: calc(70%);
        border-radius: 10px;
        text-align: center;
        font-size: 20px;
        border: none;
        padding: 1rem;
        // margin-bottom: 1rem;
    }
    .buttonContainer{
        margin-top: 10px;
        display: grid;
        width: calc(100%);
        place-items: center;
        button{
            background-color: white;
            width: calc(50%);
            font-family: inherit;
            padding: 0.8rem;
            font-size: 20px;
            border: none;
            margin: 10px;
            border-radius: 10px;
            &:hover{
                background-color: #39a00a;
                transition: all .3s ease-in-out;
            }
        }
    }
}

