@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;

}

:root {
    --color-primary: #191d2b;
    --color-secondary: #27AE60;
    --color-white: #FFFFFF;
    --color-black: #000;
    --color-grey0: #f8f8f8;
    --color-grey-1: #dbe1e8;
    --color-grey-2: #b2becd;
    --color-grey-3: #6c7983;
    --color-grey-4: #454e56;
    --color-grey-5: #2a2e35;
    --color-grey-6: #12181b;
    --br-sm-2: 14px;
    --box-shadow-1: 0 3px 15px rgba(0,0,0,.3);
}

body{
    background-color: var(--color-primary);
    // font-family: 'Caveat', cursive;
    font-size: 1.1rem;
    color: var(--color-white);
    transition: all .4s ease-in-out;
    font-family: 'Caveat', cursive;
    font-family: 'Dancing Script', cursive;
}

.main{
    min-height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    padding: 3rem 10rem;
}

.main-title{
    text-align: center;
    padding:  5rem 0 2rem 0 ;
    user-select: none;
    h2{
        position: relative;
        text-transform: uppercase;
        font-size: 4rem;
        font-weight: 700;

        span{
            color: var(--color-secondary);
        }
        .bg-text{
           position: absolute;
           top: 50%;
           left: 50%;
           color: var(--color-grey-5);
           transition: all .4s ease-in-out;
           z-index: -1;
           transform: translate(-50%,-50%);
           font-weight: 800;
           font-size: 6.3rem;
        }
    }
}

.pro-detail{
    padding: 2rem 0;
    text-align: center;
}

.projects{
    margin: 0 2rem;

    .project{
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 50px 0;

        .project-item{
            flex-basis: calc(33.33333% - 30px);
            margin: 0 15px 30px;
            overflow: hidden;
            border-radius: 28px;

            .project-item-link{
                text-decoration: none;
                display: block;
                padding: 30px 20px;
                background-color: var(--color-grey-6);
                overflow: hidden;
                position: relative;

                &:hover{
                    // text-decoration: none;
                    color: #FFF;
                    .project-item-bg{
                        transform: scale(10);
                    }
                }

                .project-item-title{
                    min-height: 87px;
                    margin: 0 0 25px;

                    overflow: hidden;

                    font-weight: bold;
                    font-size: 30px;
                    color: var(--color-grey0);

                    z-index: 2;
                    position: relative;
                }
                .project-item-bg{
                    height: 128px;
                    width: 128px;
                    background-color: #f9b234;
                    z-index: 1;
                    position: absolute;
                    top: -75px;
                    right: -75px;

                    border-radius: 50%;

                    transition: all .5s ease;
                }
            }
        }
    }
}

